<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WorkboxEntities" connectionString="metadata=res://*/Dal.WorkboxModel.csdl|res://*/Dal.WorkboxModel.ssdl|res://*/Dal.WorkboxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100\sql2014,14308;initial catalog=KMTDevelop;user id=developer;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISchedulerTerminal" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8220/SchedulerService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISchedulerTerminal" contract="SchedulerService.ISchedulerTerminal" name="BasicHttpBinding_ISchedulerTerminal" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
