<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="sso" type="Sadad.Security.Sso.Web.SsoSettings, Sadad.Security.Sso.Web" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" requirePermission="false" />
    <sectionGroup name="exir">
      <section name="logger" type="Exir.Framework.Common.Logging.Config.LoggerConfig, Exir.Framework.Common" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SsoDatabaseConnection" connectionString="data source=BODB02;initial catalog=Sso;persist security info=True;user id=Bologin;password=BoP@ssw0rd123;MultipleActiveResultSets=true;app=mfarahy43" providerName="System.Data.SqlClient" />

    <add name="PortalEntities" connectionString="metadata=res://*/PortalDb.PortalModel.csdl|res://*/PortalDb.PortalModel.ssdl|res://*/PortalDb.PortalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BODB02;initial catalog=portal;persist security info=True;user id=Bologin;password=BoP@ssw0rd123;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient" />

    <add name="SsoEntities" connectionString="metadata=res://*/Organization.OrganizationDataModel.csdl|res://*/Organization.OrganizationDataModel.ssdl|res://*/Organization.OrganizationDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BODB02;initial catalog=Sso;persist security info=True;user id=Bologin;password=BoP@ssw0rd123;multipleactiveresultsets=True;app=mfarahy43;&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <add key="selenium-test-mode" value="true" />
    <add key="owin:AppStartup" value="Sadad.Security.Sso.Web.Startup, Sadad.Security.Sso.Web" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PfxPassword" value="idsrv3test" />
    <add key="PfxPath" value="~/Configuration/idsrv3test.pfx" />
    <add key="captcha-files-path" value="~/Content/captcha/" />
    <add key="save-authenticate-attemp" value="true" />
    <add key="max-authenticate-attemp-for-user" value="3" />
    <add key="hourse-of-lock-user" value="1" />

  </appSettings>
  <sso>
    <clients>

      <add clientId="portal" clientName="پورتال پذیرندگان" enabled="true" accessTokenType="Jwt" flow="Implicit" requireConsent="false" allowRememberConsent="true" clientSecrets="E694F473-08C9-4E22-8653-3876F22A4D1D" allowedScopes="sso-webapi,portal,openid,profile,role,address,email" enableLocalLogin="true" accessTokenLifetime="300" allowAccessToAllScopes="true" allowAccessTokensViaBrowser="true" redirectUris="http://localhost:5142/Account/SignInCallback" postLogoutRedirectUris="http://localhost:5142/Account/SignoutCallback" logoutSessionRequired="true" identityTokenLifetime="300" />

      <add clientId="telegrambot-webpanel" clientName="کنترل پنل ربات تلگرام" enabled="true" accessTokenType="Jwt" flow="Implicit" requireConsent="false" allowRememberConsent="true" clientSecrets="45b23b9f-1a40-4c0c-abca-112a4df62638" allowedScopes="telegrambot-webpanel,openid,profile,role,address,email" enableLocalLogin="true" accessTokenLifetime="300" allowAccessToAllScopes="true" allowAccessTokensViaBrowser="true" redirectUris="http://localhost:58261/Account/SignInCallback" postLogoutRedirectUris="http://localhost:58261/Account/SignoutCleanup" logoutSessionRequired="true" identityTokenLifetime="300" />

      <add clientId="mmp-webpanel" clientName="سامانه جامع پذیرندگان" enabled="true" accessTokenType="Jwt" flow="Implicit" requireConsent="false" allowRememberConsent="true" clientSecrets="58b3c450-a657-4ccf-9bd6-7f0f23292133" allowedScopes="sso-webapi,mmp-webpanel,openid,profile,role,address,email" enableLocalLogin="true" accessTokenLifetime="300" allowAccessToAllScopes="true" allowAccessTokensViaBrowser="true" redirectUris="http://localhost:44363/Account/SignInCallback" postLogoutRedirectUris="http://localhost:44363/Account/SignoutCleanup;http://localhost:44363/Errors/AuthenticationForbidden" logoutSessionRequired="true" identityTokenLifetime="300" />

      <add clientId="mmp-system" clientName="سامانه جامع پذیرندگان" enabled="true" accessTokenType="Jwt" flow="ResourceOwner" requireConsent="false" clientSecrets="58b3c450-a657-4ccf-9bd6-7f0f23292133" allowedScopes="sso-webapi,mmp-webpanel,openid,profile,role,address,email,sso-hrm" accessTokenLifetime="300" allowAccessToAllScopes="true" identityTokenLifetime="300" enableLocalLogin="true" />

      <add clientId="mmp-web-api" clientName="سامانه جامع پذیرندگان" enabled="true" accessTokenType="Jwt" flow="ResourceOwner" requireConsent="false" clientSecrets="02c86911-6fc2-4fd7-9fe7-accbdeea10a5" allowedScopes="mmp-webpanel,openid" accessTokenLifetime="300" allowAccessToAllScopes="true" identityTokenLifetime="300" enableLocalLogin="true" />
    </clients>
    <scopes>
      <add name="telegrambot-webpanel" emphasize="false" enabled="true" includeAllClaimsForUser="true" allowUnrestrictedIntrospection="true" />
      <add name="mmp-webpanel" emphasize="false" enabled="true" includeAllClaimsForUser="true" allowUnrestrictedIntrospection="true" />
      <add name="sso-hrm" emphasize="false" enabled="true" includeAllClaimsForUser="true" allowUnrestrictedIntrospection="true" />
      <add name="sso-webapi" emphasize="true" enabled="true" includeAllClaimsForUser="true" allowUnrestrictedIntrospection="true" scopeSecrets="58b3c450-a657-4ccf-9bd6-7f0f23292133" />
      <add name="portal" emphasize="false" enabled="true" includeAllClaimsForUser="true" allowUnrestrictedIntrospection="true" />
    </scopes>
  </sso>
  <spring>
    <context name="RootContext">
      <resource uri="config://spring/objects" />
      <resource uri="file://~/bin/Organization/Sso.Services.Config.xml" />
    </context>
    <objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


      <object id="SchemaSecurityProvider" singleton="true" scope="application" init-method="Initialize" type="Exir.Framework.Security.SchemaSecurity.Support.AzManSecurityProvider, Exir.Framework.Security">
        <property name="UseCache" value="false" />
        <property name="Connection" value="${SsoDatabaseConnection.connectionString}" />
        <property name="CompanyName" value="Sadad" />
        <property name="ApplicationName" value="Sso" />
        <property name="AuthorizationEngine" ref="AuthorizationEngine" />
      </object>

      <object id="AuthorizationEngine" singleton="true" scope="application" type="Exir.Framework.Security.SchemaSecurity.Support.AuthorizationEngine, Exir.Framework.Security">
        <constructor-arg name="connectionString" value="${SsoDatabaseConnection.connectionString}" />
        <constructor-arg name="applicatioName" value="Sso" />
        <constructor-arg name="storeName" value="Sadad" />
        <property name="UseCache" value="true" />
        <property name="Client" value="SSO" />
        <property name="CacheInvalidatorTypes">
          <list>
            <value>Sadad.Security.Sso.Models.AspNetUser, Sadad.Security.Sso.Models</value>
            <value>Sadad.Security.Sso.Models.OrgUnit, Sadad.Security.Sso.Models</value>
            <value>Sadad.Security.Sso.Models.LimiterParamValue, Sadad.Security.Sso.Models</value>
            <value>Sadad.Security.Sso.Models.LimiterParam, Sadad.Security.Sso.Models</value>
            <value>Sadad.Security.Sso.Models.Limiter, Sadad.Security.Sso.Models</value>
          </list>
        </property>
      </object>

      <object id="DataSecurityProvider" singleton="true" scope="application" type="Exir.Framework.Security.DataSecurity.Support.FluentDataSecurityProvider, Exir.Framework.Security" />
      <object id="AuthenticaterProvider" singleton="true" scope="application" type="Exir.Framework.Security.Authentication.Support.NullAuthenticaterProvider, Exir.Framework.Security" />
      <object id="SecurityProvider" singleton="true" scope="application" type="Exir.Framework.Security.SecurityProvider, Exir.Framework.Security">
        <constructor-arg name="authenticater" ref="AuthenticaterProvider" />
        <constructor-arg name="schemaChecker" ref="SchemaSecurityProvider" />
        <constructor-arg name="dataSecurity" ref="DataSecurityProvider" />
        <constructor-arg name="cache" ref="ServiceCacheProvider" />
      </object>
      <object type="Spring.Objects.Factory.Config.VariablePlaceholderConfigurer, Spring.Core">
        <property name="VariableSources">
          <list>
            <object type="Spring.Objects.Factory.Config.ConnectionStringsVariableSource, Spring.Core" />
          </list>
        </property>
      </object>
      <object id="ResourceProvider" singleton="true" scope="application" type="Exir.Framework.Common.ResxResourceProvider, Exir.Framework.Common">
        <constructor-arg name="path" value="~\resources" />
      </object>
      <object id="InMemoryCache" type="Exir.Framework.Uie.Caching.AspNetCacheProvider, Exir.Framework.Uie" />
      <object id="ServiceCacheProvider" type="Exir.Framework.RedisCacheProvider.RedisCacheProvider, Exir.Framework.RedisCacheProvider">
        <property name="ClientName" value="sso" />
        <property name="DatabaseIndex" value="0" />
        <property name="EndPoints" value="" />
        <property name="ConnectTimeout" value="5000" />
        <property name="ResponseTimeout" value="5000" />
        <property name="SyncTimeout" value="5000" />
        <property name="KeepAlive" value="150" />
        <property name="ConnectRetry" value="6" />
        <property name="AbortOnConnectFail" value="false" />
        <property name="UseExponentialRetry" value="true" />
      </object>
    </objects>
  </spring>
  <common>
    <logging>
      <factoryAdapter type="Sadad.Security.Sso.Web.Log4NetLoggerFactoryAdapter, Sadad.Security.Sso.Web" />
    </logging>
  </common>
  <log4net debug="false">
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value=".\\log\\default.txt" />
      <param name="AppendToFile" value="false" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d %-5p %c - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="info" />
      <appender-ref ref="rollingFile" />
    </root>
  </log4net>

  <exir>
    <logger>
      <adapters>
        <add name="log4net" type="Exir.Framework.Common.Logging.Log4Net.Log4NetAdapter, Exir.Framework.Common">
          <add name="log4net-file" type="Exir.Framework.Common.Logging.Log4Net.Log4NetAsyncFileAppender, Exir.Framework.Common">
            <param name="FileName" value=".\\log\\log.txt" />
            <param name="Encoding" value="utf8" />
            <param name="BufferSize" value="1000" />
          </add>
          <add name="log4net-trace-file" type="Exir.Framework.Common.Logging.Log4Net.Log4NetAsyncFileAppender, Exir.Framework.Common">
            <param name="FileName" value=".\\log\\log-trace.txt" />
            <param name="Encoding" value="utf8" />
            <param name="BufferSize" value="1000" />
          </add>
          <add name="sentry" type="Exir.Framework.Common.Logging.Log4Net.Sentry.AsyncSentryAppender, Exir.Framework.Common">
            <param name="Dsn" value="http://811388512c3c4acabb4a55dc5cefea9e@172.24.34.80:9000/8" />
            <param name="SendIdentity" value="true" />
            <param name="Environment" value="SSO-WEB-DEV" />
          </add>
        </add>
      </adapters>

      <if min-level="error" max-level="fatal" then="sentry" />
      <if min-level="error" max-level="fatal" then="sentry" />
      <if logger="Spring" then="off" />
      <if min-level="trace" max-level="trace" then="log4net-trace-file" />
      <if logger="any" then="log4net-file" />

    </logger>
  </exir>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.40306.1554" newVersion="4.0.20622.1351"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.40306.1554" newVersion="1.0.40306.1554"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.2.0" newVersion="6.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.Console" publicKeyToken="24c2f752a8e58a10" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.6.1" debug="true" />
    <httpRuntime targetFramework="4.6.1" />


  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-Frame-Options" value="ALLOW" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BMISSOServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="UserAccountServiceBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://sso.bmi.ir/BMISSOService/BMISSOService.asmx" binding="basicHttpBinding" bindingConfiguration="BMISSOServiceSoap" contract="BmiSsoService.BMISSOServiceSoap" name="BMISSOServiceSoap" />
    </client>
  </system.serviceModel>


  <system.diagnostics>
    <!-- simple system.diagnostics logger -->
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Trace.log" />
        <remove name="Default" />
      </listeners>
    </trace>
    <!-- can be used with TraceSource logger -->
    <!--<sources>
      <source name="IdentityServer3"
              switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml"
               type="System.Diagnostics.XmlWriterTraceListener"
               initializeData= "trace.svclog" />
        </listeners>
      </source>
    </sources>-->
  </system.diagnostics>
</configuration>