<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" requirePermission="false" />
    <sectionGroup name="exir">
      <section name="logger" type="Exir.Framework.Common.Logging.Config.LoggerConfig, Exir.Framework.Common" />
      <section name="jobService" type="SeatDomain.Configs.JobServiceConfig, SeatDomain" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <remove name="LocalSqlServer" /><!--185.252.28.50-->
    <add name="LocalSqlServer-ReadOnly" connectionString="data source=sql.sahamvip.ir;initial catalog=SeatDB;persist security info=True;user id=farahy;password=@farahy123;MultipleActiveResultSets=false;app=seat;" providerName="System.Data.SqlClient" />
    <add name="LocalSqlServer" connectionString="data source=sql.sahamvip.ir;initial catalog=SeatDB;persist security info=True;user id=farahy;password=@farahy123;MultipleActiveResultSets=false;app=seat;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="mail:from" value="support@sahamvip.ir" />
    <add key="mail:username" value="sahamvip.ir@gmail.com" />
    <add key="mail:password" value="QJaDRNWjsEgq" />
    <add key="mail:smtp" value="smtp.gmail.com" />
    <add key="mail:port" value="587" />
    <add key="kavenegar-apikey" value="676C56702F6766567A614552596B5A326269586C6E322F6A696B476C53624E5A3563314171714C693046383D"/>
    <add key="kavenegar-sender" value="10008663"/>
    <add key="debug" value="true" />
  </appSettings>
  <spring>
    <context name="RootContext">
      <resource uri="config://spring/objects" />
      <resource uri="file://~/Configs/SeatDomain.Config.xml" />
      <resource uri="file://~/Configs/SeatWeb.Config.xml" />
      <resource uri="file://~/Configs/SeatDomain-Custom.Config.xml" />
    </context>
    <objects xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd" xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      
      <object id="EfTracer" type="Exir.Framework.DataAccess.EfTracer, Exir.Framework.DataAccess" />

      <object id="InMemoryCache" type="Exir.Framework.Common.Caching.ConcurrentDictionaryCache, Exir.Framework.Common">
        <property name="LifeTimeMinutes" value="5" />
      </object>
      
      <object id="ServiceCacheProvider" type="Exir.Framework.Common.NullCache, Exir.Framework.Common" />
      
      <!--<object id="ServiceCacheProvider" type="Exir.Framework.RedisCacheProvider.RedisCacheProvider, Exir.Framework.RedisCacheProvider">
        <property name="ClientName" value="seat"/>
        <property name="DatabaseIndex" value="0"/>
        <property name="EndPoints" value=""/>
        <property name="ConnectTimeout" value="5000"/>
        <property name="ResponseTimeout" value="5000"/>
        <property name="SyncTimeout" value="5000"/>
        <property name="KeepAlive" value="150"/>
        <property name="ConnectRetry" value="6"/>
        <property name="AbortOnConnectFail" value="false"/>
        <property name="UseExponentialRetry" value="true"/>
        <property name="PrefixIgnore">
          <list>
            <value>ssosf:-lastupdatedt</value>
            <value>fdsp_cache</value>
            <value>wfpsql:</value>
            <value>Srvcs:</value>
          </list>
        </property>
      </object>-->
      
      <object id="AuthenticaterProvider" scope="application" type="Exir.Framework.Security.Authentication.Support.WindowsAuthenticaterProvider, Exir.Framework.Security" />
      <object id="SchemaSecurityProvider" singleton="true" scope="application" type="Exir.Framework.Security.SchemaSecurity.Support.TrueSchemaSecurityProvider, Exir.Framework.Security" />
      <object id="DataSecurityProvider" singleton="true" scope="application" type="Exir.Framework.Security.DataSecurity.Support.FluentDataSecurityProvider, Exir.Framework.Security" />
      <object id="SecurityProvider" scope="application" type="Exir.Framework.Security.SecurityProvider, Exir.Framework.Security">
        <constructor-arg name="authenticater" ref="AuthenticaterProvider" />
        <constructor-arg name="schemaChecker" ref="SchemaSecurityProvider" />
        <constructor-arg name="dataSecurity" ref="DataSecurityProvider" />
        <constructor-arg name="cache" ref="ServiceCacheProvider" />
      </object>
      <object id="ResourceProviderSpringObjectId" scope="application" type="Exir.Framework.Common.ResxResourceProvider, Exir.Framework.Common">
        <constructor-arg name="path" value="~/resources;~/bin/resources;" />
        <property name="Map">
          <dictionary key-type="string" value-type="string">
            <entry key="*" value="glossary" />
          </dictionary>
        </property>
      </object>
    </objects>
  </spring>  
  <exir>
    <logger>
      <adapters>
        <add name="log4net" type="Exir.Framework.Common.Logging.Log4Net.Log4NetAdapter, Exir.Framework.Common">
          <add name="log4net-file" type="Exir.Framework.Common.Logging.Log4Net.Log4NetAsyncFileAppender, Exir.Framework.Common">
            <param name="Template" value="%date{HH:mm:ss,fff} [User = %HTTPUser] %logger %level %message %newline%exception" />
            <param name="FileName" value=".\\log\\log.txt" />
            <param name="Encoding" value="utf8" />
            <param name="BufferSize" value="1000" />
          </add>
          <add name="log4net-console" type="Exir.Framework.Common.Logging.Log4Net.Log4NetConsoleAppender, Exir.Framework.Common">
            <param name="Template" value="%date{HH:mm:ss,fff} [User = %HTTPUser] %logger %level %message %newline" />
          </add>
        </add>
      </adapters>
      <if logger="Spring" then="off" />
      <if min-level="trace" max-level="trace" then="log4net-trace-file" />
      <if logger="any" then="log4net-console" />
      <if logger="any" then="log4net-file" />

    </logger>

    <jobService delay="60000" debug="true" waitTime="60">
      <queue name="notification" capacity="10" />
      <queue name="request-workflow" capacity="1" />
      <queue name="immigration" capacity="1" />
      <queue name="declare-merchants" capacity="1" />
      <queue name="update-evidences" capacity="1" />
      <queue name="bill-transaction" capacity="1" />
      <queue name="Workbox" capacity="1" />
      <queue name="default" capacity="1" />
      <queue name="suny-inquiry" capacity="1" />
      <rerunables>
        <add name="deadlock" text="was deadlocked on lock resources with another process and has been chosen as the deadlock victim." />
        <add name="pre-login-handshake" text="A connection was successfully established with the server, but then an error occurred during the pre-login handshake." />
        <add name="completed-sqltransaction" text="This SqlTransaction has completed; it is no longer usable" />
        <add name="connection-availability" text="No connection is available to service this operation" />
        <add name="timeout" text="Execution Timeout Expired. The timeout period elapsed prior to completion of the operation or the server is not responding." />
        <add name="connect" text="Unable to connect to the remote server" />
        <add name="GetUserItems2" text="Exir.Framework.Security.SchemaSecurity.Support.AuthorizationEngine.GetUserItems2" />

        <add name="underlying_provider" text="The underlying provider failed on Open" />
        <add name="503" text="HTTP Error 503. The service is unavailable." />
        <add name="sso-api-connection" text="An exception occurred on calling action GetUserItems on service IAuthorizationEngine" />
      </rerunables>
      <negligibles>
        <add name="no_suspeneded_node" text="Merchant request workflow has no suspeneded node" />
        <add name="duplicate_quotalog" text="Cannot insert duplicate key row in object 'dbo.QuotaLog' with unique index 'UX_QuotaPK_MctrPK'." />
        <add name="no_quota" text="هیچ منبع سهمیه‌ای تعریف نشده است" />
        <add name="merchant_declared_recently" text="برای درخواست|قبلا پذیرنده|تعریف شده است" />
      </negligibles>
    </jobService>
  </exir>
  <entityFramework>
    <interceptors>
      <interceptor type="Exir.Framework.DataAccess.WithNoLockInterceptor, Exir.Framework.DataAccess" />
      <interceptor type="Exir.Framework.DataAccess.YeKeInterceptor, Exir.Framework.DataAccess" />
      <interceptor type="Exir.Framework.DataAccess.EntityFrameworkLogger, Exir.Framework.DataAccess" />
      <interceptor type="Exir.Framework.DataAccess.Performance.EfDiagnoserInterceptor, Exir.Framework.DataAccess" />
    </interceptors>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.Console" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.2.99" newVersion="6.0.2.99" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.113.0" newVersion="1.0.113.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
